.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 100px;
 /* Semi-transparent background */
    position: fixed; /* Keeps the navbar fixed on top */
    width: 100%; /* Makes the navbar stretch across the full width of the viewport */
    top: 0; 
    left: 0;
    /* Ensures it stays at the top */
    z-index: 10; 
    color: #ffffff;/* Makes sure it stays on top of other content */
   
}

.navbar-logo {
    width: 180px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-menu li {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.navbar-menu li:hover {
    color: #497b97;
}

/* Styling for Contact Us button */
.contact-button {
    background-color: #ffffff;
    color: rgb(7, 6, 6);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.contact-button:hover {
    background-color: #0056b3;
    color: #ffffff;
}
