.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  color: #ffffff;
  background-color: rgba(8, 0, 58, 0.8);
}

.navbar-logo {
  width: 180px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}

.navbar-menu li {
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.navbar-menu li:hover {
  color: #497b97;
}

.contact-button {
  background-color: #ffffff;
  color: rgb(7, 6, 6);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.contact-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.dark-nav {
  background: rgb(96, 78, 161);
  transition: 0.5;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: white;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 11;
  visibility: hidden; /* Changed from display: none; */
}

.close-button:hover {
  color: #f00;
}

.navbar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 50%;
  background-color: rgba(8, 0, 58, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.5s ease-in-out;
  z-index: 9;
}

.navbar-menu.show {
  right: 0;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background-color: rgba(8, 0, 58, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.5s ease-in-out;
  }

  .navbar-menu.show {
    right: 0;
  }

  .hamburger {
    display: flex;
  }

  .close-button {
    visibility: visible; /* Show the close button on smaller screens */
  }
}

@media (min-width: 769px) {
  .navbar-menu {
    position: initial;
    right: initial;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    justify-content: flex-end;
  }

  .close-button {
    visibility: hidden; /* Hide the close button on larger screens */
  }
}
